<!DOCTYPE html>
<html>
<head>
<title>代码生成器</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
	<div id="rrapp">

		<table id="jqGrid" tabindex="0" role="presentation"
			aria-multiselectable="false" aria-labelledby="gbox_jqGrid"
			class="ui-jqgrid-btable ui-common-table table table-bordered"
			style="width: 1015px;">
			<tbody>
				<tr class="jqgfirstrow" role="row">
					<td role="gridcell" style="height: 0px; width: 25px;"></td>
					<td role="gridcell" style="height: 0px; width: 268px;">名称</td>
					<td role="gridcell" style="height: 0px; width: 187px;">说明</td>
					<td role="gridcell" style="height: 0px; width: 268px;">版本</td>
					<td role="gridcell" style="height: 0px; width: 267px;">操作</td>
				</tr>
				<tr role="row" id="1" tabindex="-1" class="jqgrow ui-row-ltr">
					<td role="gridcell" class="jqgrid-rownum active"
						style="text-align: center; width: 25px;" title="1"
						aria-describedby="jqGrid_rn">1</td>
					<td role="gridcell" style="" title=""
						aria-describedby="jqGrid_modulName">After-end</td>
					<td role="gridcell" style="" title=""
						aria-describedby="jqGrid_version">微服务开发后端脚手架</td>
					<td role="gridcell" style="" title=""
						aria-describedby="jqGrid_remark">0.0.1-SNAPSHOT</td>
					<td role="gridcell" style="" title="" aria-describedby="jqGrid_opt">
						<a href="archetypes/After-end.rar">下载</a>
					</td>
				</tr>
				<tr role="row" id="2" tabindex="-1" class="jqgrow ui-row-ltr">
					<td role="gridcell" class="jqgrid-rownum active"
						style="text-align: center;" title="2" aria-describedby="jqGrid_rn">2</td>
					<td role="gridcell" style="" title=""
						aria-describedby="jqGrid_modulName">Frent-end</td>
					<td role="gridcell" style="" title=""
						aria-describedby="jqGrid_version">微服务开发前端脚手架</td>
					<td role="gridcell" style="" title=""
						aria-describedby="jqGrid_remark">v1.0</td>
					<td role="gridcell" style="" title="" aria-describedby="jqGrid_opt">
						<a href="archetypes/Front-end.rar">下载</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <div id="jqGridPager"></div> -->
	</div>

	<script src="js/archetypes.js"></script>
</body>
</html>